.audio{
    padding: 10px;
    background:red;
    color: silver;
    text-decoration:none ;
}
img{
    width:635px;
}
.video{
    padding: 10px;
    background:black;
    color: silver;
    text-decoration:none ;
}
bo